#lProgramInfo:hover{
    -fx-text-fill: blue;
}
#lProgramInfo:pressed{
    -fx-text-fill: brown;
}
.toast{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: rgb(132, 132, 132);
    -fx-padding: 20;
}